<h1>Listing todos</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @todos.each do |todo| %>
	<tr>
		<td><%= todo.title %></td>
		<td><%= todo.notes %></td>
		<td><%= link_to 'Show', todo, class: 'btn btn-primary btn-xs' %></td>
		<td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-info btn-xs' %></td>
		<td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-success' %>

<%= link_to new_todo_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Todo
<% end %>

